@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&family=DotGothic16&family=League+Gothic&display=swap');

/* font-family: 'Cormorant SC', serif;

font-family: 'DotGothic16', sans-serif;

font-family: 'League Gothic', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
   /* overflow: hidden; */
}

.main {
    position: relative;
    text-align: center;
}

.namelogo {
    display:flex;
    justify-content: center; 
    margin-top: 1rem;
}

.reaper {
        display:flex;
        justify-content: center; 
        margin-top: -.5rem;   
        -webkit-filter: drop-shadow(0px 0px 12px white);
        filter: drop-shadow(0px 0px 12px white);
        animation: animate 3.5s linear infinite;
      } 

      @keyframes animate {
        0% {
            transform: scale(1.0);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1.0);
        } 
        50% {
            transform: scale(1.2);
        }
        0% { 
            transform: scale(1.0);
        }
    
    }


.music-container {
        margin-top:1rem;
        padding: 1.2rem;
        position:relative;
       /* background-color: #740C10; */
        width: 35rem;
        margin: 0 auto;
}

  .music-info{
    margin: 0 auto;
    color:white;
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    text-align: center;
    line-height: 3.5rem;
} 

.navigation {
text-align: center;
}

.shopbut {
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    font-size: 1.75rem;
    color:black;
    padding: .5rem;
    width: 8.5rem;
    border: outset #740C10;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #BD272D, #740C10);
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: grey;
}

.rightside {
    position: absolute;
    top: 30%;
    left: 92%;
}

.socialicons {  
    display: flex;
    flex-direction: column;
}

.socialicons a:hover {
    animation: hvr .5s linear;
    animation-fill-mode: forwards;
}

@keyframes hvr {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50px, 0);
    }
    
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: black;
    color:white;
    cursor:pointer;
    border: 0;
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.action-btn-big {
    font-size: 2rem;
}

footer {
    margin: 1.5rem;
}


/* info.html css*/

.grid-house {
    display: grid;
    grid-template-areas: 
    'top top top'
    'left left right'
    'bottom bottom bottom';
    height: 100vh;
}

.top {
    grid-area: top;
    color:white;
    text-align: center;
}

#top-img {
    margin-top: 1.5rem; 
}

 .top #socialz img:hover {
    animation: swell 1.5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes swell {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.2);
} 
}

.left {
    grid-area: left;
    color:white;
    margin-left: 3rem;
}

.left img {
     width: 75%;
     height: auto;
     border: black outset 5px;
}

.right {
    grid-area: right;
    color:white;
    font-size: 1.2rem;
    text-align:center;
    margin-right: 3rem;
}

.right h1 {
    font-family: 'DotGothic16', sans-serif;
}

.right p {
    font-family: 'Cormorant SC', serif;
}

.out-now {
    margin-top: 5rem;
}

li {
    display: flex;
    flex-direction: column;
}

li:hover {
    opacity: .5;
}

.out-now ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.bottom {
    grid-area: bottom;
    color:white;
    text-align: center;
}

/* Start https://www.cursors-4u.com */ 
* {cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto;} 
/* End https://www.cursors-4u.com */