@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&family=DotGothic16&family=League+Gothic&display=swap');

/* font-family: 'Cormorant SC', serif;

font-family: 'DotGothic16', sans-serif;

font-family: 'League Gothic', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    width: 100%;
    background-color: black;
    font-family: 'Cormorant SC', serif;
    cursor: crosshair;
}

.main {
    position: relative;
    text-align: center;
}

.namelogo {
    display:flex;
    justify-content: center; 
    margin-top: 1.5rem;
}

.namelogo:hover {
    opacity: .5;
}

.reaper {
        display:flex;
        justify-content: center; 
        margin-top: -.5rem;   
        -webkit-filter: drop-shadow(0px 0px 12px white);
        filter: drop-shadow(0px 0px 12px white);
        animation: animate 3.5s linear infinite;
      } 

      @keyframes animate {
        0% {
            transform: scale(1.0);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1.0);
        } 
        50% {
            transform: scale(1.1);
        }
        0% { 
            transform: scale(1.0);
        }
    
    }

.music-container {
      /*  position:relative; */
        width: 30rem;
        margin: 0 auto;
}

h3 {
    font-size: 1.3rem;
    animation: scroll 10s linear infinite;
    animation-fill-mode: forwards;
   /* text-shadow: 5px 5px 10px whitesmoke; */
}

@keyframes scroll{
    0% {transform: translateX(15%);}
    0% {opacity: 0;}
    25% {opacity: .5;}
    50% {opacity: 1;}
    75% {opacity: .5;}
    100% {opacity: 0;}
    100% {transform: translate(-15%);}

}

  .music-info {
    margin: 0 auto;
    color:white;
    text-align: center;
    line-height: 2.9rem;
} 

 .music-info p {
    animation: animate 3.5s infinite linear;
    animation-fill-mode: forwards;
 }

.shopbut {
    font-weight: 700;
    font-size: 1.75rem;
    padding: .5rem;
    width: 8.5rem;
    border: ridge white;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #BD272D, #740C10);
    font-family: 'Cormorant SC', serif;
    margin-top: 1.5rem;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    cursor: pointer;
}

.rightside {
    position: absolute;
    top: 30%;
    left: 91%; 
}

.socialicons {  
    display: flex;
    flex-direction: column;
}

.socialicons a:hover {
    animation: hvr .5s linear;
    animation-fill-mode: forwards;
}

@keyframes hvr {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50px, 0);
    }
    
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 2rem;
    width: 25%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 2px grey;
    margin-top: .5rem;
}

.action-btn {
    background-color: white;
    color:black;
    border: 0;
    font-size: 1.2rem;
}

.action-btn-big {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
 
button:hover {
    opacity:.7;
    cursor: pointer;
}

footer {
    margin: 1.5rem;
}


/* !!!INFO.HTML CSS!!! */

.grid-house {
    display: grid;
    grid-template-areas: 
    'top top top'
    'left left right'
    'bottom bottom bottom';
}

.top {
    grid-area: top;
    color:white;
    text-align: center;
}

#top-img {
    margin-top: 1.5rem;
}

#top-img:hover {
    opacity: .5;
}

 .top #socialz img:hover {
    animation: swell 1.5s linear;
    animation-fill-mode: forwards;
}

@keyframes swell {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.2);
} 
}

.left {
    grid-area: left;
    color:white;
    margin-left: 3rem;
}

.left img {
     width: 75%;
     height: auto;
     margin: 2rem;
}

.right {
    grid-area: right;
    color:white;
    font-size: 1.2rem;
    text-align:center;
    margin-right: 3rem;
    padding: 3rem;
    line-height: 3rem;
}

 h1, h2, h3 {
    font-family: 'DotGothic16', sans-serif;
}

.out-now {
    margin-top: 3rem;
}

li {
    display: flex;
    flex-direction: column;
}

.out-now li:hover {
    opacity: .5;
}

.out-now ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.bottom {
    grid-area: bottom;
    color:white;
    text-align: center; 
    margin-top: 5rem;
}

.eform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}

#emailf, #message, #subb {
    border-radius: 8px;
    padding: .3rem;
} 

#subb {
    padding: 0 2.5rem 0 2.5rem;
    background-color: black;
    border: ridge white 1.2px;
    margin: auto;
}

/* Start https://www.cursors-4u.com 
* {cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto;} 
End https://www.cursors-4u.com */

@media screen and (min-width: 480px ) and (max-width: 980px) { 

    .rightside {
        position: absolute;
        align-items: center;
        top: 100%;
        left: 25%;
    }
    
    .socialicons {  
        display: flex;
        flex-direction: row;
        margin-top: .7rem;
    }

    .socialicons a:hover {
    animation: swell .5s linear;
    animation-fill-mode: forwards;
}

    .socialicons img {
        transform: scale(.8);
    }
}

@media screen and (min-width: 480px ) and (max-width: 980px) {
    .grid-house {
        display: grid;
        grid-template-areas: 
        'top top top'
        'left left left'
        'right right right'
        'bottom bottom bottom';
    }
    
}